*.class
*.log
*.vcd
*.v
*.gch
*.o
*.a
*.so

# sbt specific
generated/
.bsp/
.bloop/
.sbt/
.scala_dependencies
.history/
.cache
target/
project/target/
project/project/target/

# IDEA / VSCode / Metals
.idea/
*.iml
.vscode/
.metals/

# SpinalHDL Simulation Workspace
simWorkspace/